af             =  1.000
lbox           =  100.000
H_f            =  70.000
omega_f        =  0.300
lambda_f       =  0.700
npart          =  100
method         =  MSM
cdm            =  .false.
b              =  0.2
nvoisins       =  100
nhop           =  100
rhot           =  80.0
fudge          =  4.
fudgepsilon    =  0.001
alphap         =  1.0
verbose        =  .true.
megaverbose    =  .false.
nsteps         =  1
FlagPeriod     =  1
dump_DMs       =  .false.
DPMMC          =  .false.
SC             =  .true.
dcell_min      =  0.001
eps_SC         =  0.3
dchmod         =  755
fchmod         =  644
uid            =  -1
gid            =  -1
zoomin         =  .false.
